$height: 3rem;

.d {
  height: $height;
  padding: 1rem 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nmatches {
  font-style: italic;
}

.download {
  margin: 0 1rem;
  color: #aaa;
}